/*==== COMMON ====*/

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--fontSize);
}

body {
    color: var(--textColor);
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    border: 1px solid #e9e9e9;
    color: #1c1c1c;
    margin: 0 0 19px;
    min-height: 40px;
    padding: 0 20px;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a:hover {
    color: var(--mainColor);
    text-decoration: none !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

ul {
    list-style: none outside;
}

ol {
    list-style: decimal;
}

ul.square {
    list-style: square outside;
}

ul.disc {
    list-style: disc outside;
}

ol.alpha {
    list-style: lower-alpha outside;
}

.btn {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px 34px;
    text-transform: uppercase;
    border: none;
    overflow: hidden;
    border-radius: 26px;
    box-shadow: none !important;
    outline: none;
}
.btn span{
    position: relative;
    z-index: 2;
}
.btn:before{
    content: '';
    position: absolute;
    top: 0;
    height: 102%;
    left: -25%;
    width: 0%;
    -webkit-transform: skew(-22deg);
    transform: skew(-22deg);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    z-index: 1;
}
.btn:hover:before {
    width: 180%;
}
@media (max-width: 767px) {
    .btn {
        padding: 5px 15px;
    }
}


/*==== POPUP MODAL ====*/
.block-overlay {
    display: none;
}
.block-overlay.open {
    content: " ";
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}
.popup-modal {
    display: inline-block;
    width: 50vw;
    background: #fff;
    border-radius: 10px;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.popup-modal .close-modal {
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 30px;
    color: var(--mainColor);
    border-radius: 50%;
    border: 2px solid var(--mainColor);
    background: #fff;
    text-align: center;
    z-index: 1; 
    cursor: pointer;
}
.popup-modal .close-modal i {
    color: var(--mainColor);
}
.popup-modal .close-modal:hover {
    background-color: var(--mainColor);
}
.popup-modal .close-modal:hover i {
    color: #fff;
}
.popup-modal .modal-body {
    padding:  10px !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
.popup-modal .modal-body::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}
.popup-modal .modal-body::-webkit-scrollbar-thumb {
	border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: var(--mainColor);
}
.popup-modal .modal-body::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

@media (max-width: 991px) {
    .popup-modal {
        width: 90vw;
        height: 80vh;
    }
}
@media (max-width: 569px) {
    .popup-modal {
        width: calc(100% - 30px);
        height: 80vh;
    }
}
/*==== HEADER ====*/
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}
header.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0);
}
header.header:not(.sticky) .main-header .logo a img{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}
header.header:not(.sticky) .main-header .logo a img{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}
header.header:not(.sticky) .main-header .site-nav li>a{
    color: #fff;
}
header.header:not(.sticky) .main-header .google-trans span {
    color: #fff;
}
header.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    -webkit-animation: fadeInDown 0.6s both;
    animation: fadeInDown 0.6s both;
}
.header.header .main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.header .main-header .logo {
    margin-right: 10px;
}

.header.header .main-header .logo a img {
    max-height: 20px;
    width: auto;
}

.header.header .main-header .site-nav li {
    padding: 0 10px;
    border-radius: 3px;
}

.header.header .main-header .site-nav li:hover,
.header.header .main-header .site-nav li.active {
    background: var(--mainColor);
}

.header.header .main-header .site-nav li:hover>a {
    color: #fff !important;
}

.header.header .main-header .site-nav li.active>a {
    color: #fff !important;
}

.header.header .main-header .site-nav li>a {
    line-height: 34px;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.google-trans {
    padding: 0px 0;
    display: flex;
    align-items: center;
    width: auto;
    text-align: right;
    margin-left: 10px;
}

.google-trans span {
    display: inline-block;
    width: auto;
    font-size: 0.8rem;
    margin-right: 3px;
}

.google-trans ul {
    display: inline-block;
    width: auto;
}

.google-trans ul li {
    display: inline-block;
    margin-left: 3px;
}

.google-trans li a {
    display: inline-block;
    line-height: 34px;
    position: relative;
    bottom: 1px;
}

.google-trans li a:hover {
    filter: brightness(1.2);
}

.google-trans li a img {
    max-width: 25px;
    height: auto;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .header.header .main-header .logo a img {
        max-height: 15px;
    }
    .header.header .main-header .site-nav li {
        padding: 0 8px;
    }
    .header.header .main-header .site-nav li>a {
        font-size: 0.8rem;
    }
}

@media (max-width: 991px) {
    header.header:not(.sticky) .main-header .menu-bar svg path{
        fill: #fff;
    }
    #mobile-nav {
        width: 280px;
        height: 100%;
        position: fixed;
        z-index: 999999;
        top: 0px !important;
        background-color: #fff;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
        -moz-box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
        box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
        visibility: hidden;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transform: translateX(-280px);
        -ms-transform: translateX(-280px);
        -o-transform: translateX(-280px);
        transform: translateX(-280px);
        padding: 10px;
    }
    #mobile-nav .nav-close {
        z-index: 9999;
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        line-height: 30px;
        height: 30px;
    }
    #mobile-nav .nav-close svg {
        width: 30px;
        height: 30px;
    }
    #mobile-nav .mbtop-nav {
        padding: 15px 0;
    }
    #mobile-nav .mbtop-nav .logo-wrapper img {
        max-height: 20px;
        width: auto;
    }
    #mobile-nav .site-nav-mb li>a {
        width: 100%;
        line-height: auto;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid #eee;
        line-height: 40px;
    }
    #mobile-nav .site-nav-mb li.active>a {
        color: var(--mainColor);
    }
    #mobile-nav.open {
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .mobile-nav-overflow.open {
        content: " ";
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999999;
    }
    .google-trans {
        margin-left: 0px;
    }
    .google-trans li {
        margin-left: 10px;
    }
    .google-trans li a {
        border-bottom: 0px;
    }
    .google-trans li a img {
        max-width: 30px;
        height: auto;
    }
}


/*==== FOOTER ====*/
footer.footer {
    padding: 20px 0;
    background: #1c1c1c;
    color: #fff;
}
footer.footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 16px 0;
}
footer.footer .social a {
    background-color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #333;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px;
}
footer.footer .social a:hover{
    background: var(--mainColor);
    color: #fff;
}
footer.footer .copyright {
    font-size: 1rem;
}
footer.footer .copyright b {
    color: var(--hover);
}
footer.footer .back-to-top {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    top: auto !important;
    height: 30px;
    width: 30px;
    background-color: var(--mainColor);
    line-height: 30px;
    border-radius: 4px;
    font-size: 20px;
    transition: all 0.3s ease-out 0s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    display: flex !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox; 
    display: -webkit-flex !important;
    justify-content: center;
    align-content: center;
}
footer.footer .back-to-top img {
    width: 20px;
    height: auto;
}
footer.footer .back-to-top:hover{
    background-color: var(--hover);
}
footer.footer .back-to-top.show {
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}